html {
    height: 100%;
    color: #dddddd;
    font-family: 'Montserrat', sans-serif;
}

* {box-sizing: border-box;}

body {
    margin: 0;

    background-color: black;
    height: 100%;
}

.header {
    overflow: hidden;
    background-color: #6A5495;
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
    height: 6%;
}

.header a {
    float: left;

    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}



.links_container a:hover {
    background-color: #270082;
    cursor: pointer;
}

.name:hover{

    cursor: pointer;
}




.name_container{
    height: 100%;
    display: flex;
    align-items: center;
}








.text{
    font-size: xxx-large;
}